/.idea/*
.idea/*
.svn/*
out/*
.apt_generated/*
.classpath
.mymetadata
.project
.settings/*
target/*
.myeclipse
release.properties
.factorypath
/target/
misc.xml
vcs.xml
modules.xml
DesignpatternsExamples.iml
